
{% extends 'header.html' %}
{% block title %}About{% endblock %}
{% load static %}

{% block body %}
<div class="container mt-4 mb-4" style="min-height:350px;">
    <div class="row">
        <div class="col-sm-12 mb-4">
            <center><h1><u>Owner Of This Site</h1></u></h1></center>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"><img src="{% static 'image/RSM_.ico' %}" class="img-thumbnail" height="200px" width="170px"/></div>
        <div class="col-sm-5"><p align="justify">
            Hello, Friends I am <span class="text-warning"> Ritesh</span> and this is my E-COMMERCE website. This site I am created only for Project
            purpose. Thank You!!!!!!!!!!!!!!.
        </p></div>
    </div>
</div>
{% endblock %}

