<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Show</title>
    <style>
    span{
        color:blue;
         }

         .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:contain;
}

.responsive {
  width: 100%;
  height: 200px;
}
</style>
  </head>
  <body>


      <div class="container mt-4 mb-4"  style="border:1px solid red;">
  <div class="row mt-4">
    {% for x in product %}
    <div class="col-sm-4 mx-1" ><img src="/media/{{x.image}}" class="card-img-top responsive" height="300px;" width="300px"></div>
    <div class="col-sm-7" style="height:400px;">
      <h5><span>Product Name:</span> {{x.product_name}}</h5>
      <h5><span>Category:</span> {{x.category}}</h5>
      <h5><span>Sub Category: </span>{{x.subcategory}}</h5>
      <h5><span>Description:</span> {{x.desc}}</h5>
      <h5><span>Post Date: </span>{{x.pub_date}}</h5>
      <h5><span>Rs.</span> {{x.price}}.00</h5>
        <div class="form-row">
      <a href="/" class="btn btn-primary">Back</a> &emsp;
       {% if request.user.is_authenticated %}
            <form action="{% url 'cart' x.id %}" method="post">
                {% csrf_token %}
                <input type="submit" class="btn btn-primary" value="Add Cart">
            </form>
            {% endif %}
        </div>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12" style="min-height:500px;">
      <p><h1>Product Review</h1></p>
    <hr>
      <form action="{% url 'user_coment' x.id %}" method="post">
          {% csrf_token %}
          <div class="form-row">
          <div class="form-group col-md-10">
          <input type="text" name="cmt" placeholder="Enter your comment here........." required class="form-control">
              </div>
              <div class="form-group col-md-2">
                  <input type="submit" value="Comment" class="btn btn-primary">
              </div>
</div>
      </form>
        {% endfor %}
        <hr>
        {% for x in cmt|slice:"::-1" %}
        <p>{{x.desc}}</p>
        <p><small>Post By-<span class="text-info">{{x.uname}}</span>...Time & Date-<span class="text-info">{{x.time}}</span></small></p>
        <hr>
        {% endfor %}
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>