{% extends 'header.html' %}
{% block title %}  Change Password{% endblock %}
{% block css %}
body{

}
{% endblock %}
{% block body %}
<div class="container">
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4 mt-4 mb-4 text-justify">
    <h3 class="text-center text-info">Password Change Here</h3>
    {% for message in messages %}
    <span class="text-success"> {{message}}</span>
    {% endfor %}
  <form action="" method="post" novalidate>
    {% csrf_token %}

    {% for x in fm %}
    {{x.label_tag}} {{x}}  <small class="text-warning">{{x.errors|striptags}}</small><br><br>
    {% endfor %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p>{{error}}</p>
    {% endfor %}
    {% endif %}
    <center>
    <input type="submit" value="Change Password" class="btn btn-primary"></center>
  </form>
</div>
  </div>
  </div>
{% endblock %}